AjaxExamples/Service References/AKservice/AKservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.webitgrenaa.dk/AKservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AKrepo" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HentBil">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HentBilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AKrepo" minOccurs="0" name="HentBilResult" nillable="true" type="q1:Bil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HentAlleBiler">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HentAlleBilerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AKrepo" minOccurs="0" name="HentAlleBilerResult" nillable="true" type="q2:ArrayOfBil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpretBil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AKrepo" minOccurs="0" name="b" nillable="true" type="q3:Bil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpretBilResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>